
*,*::before,*::after{
   box-sizing: border-box;
}

body{
   width: 100vw;
   height: 100vw;
   font-family: 'Sharp Sans No1';
   font-size: 16px;
   margin: 0;
   padding: 0;
   background-color: rgb(11, 11, 11);
   color: rgb(255, 255, 255);
}
/* Interface Mobile */
@media(max-width : 375px){
.no-displaying{
   display: none;
}
.functions li{
margin-right: 15px;
margin-top: 5px;
}
.number li{
   margin-top: 10px;
}
.operators li{
   margin-top: 10px;
}
.container{
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   height: 98vh;
   margin-bottom: 2vh;
   float: left;
}

.afficheur{
    /* border: 1px solid red; */
    text-align: right;
    height: max-content;
    width: 100%;
    padding: 20px;
    font-size: 60px;
    font-weight: 500;
    position: absolute;
    top: 20px;
}
.buttons-side{
   display: flex;
}
ul{
   list-style: none;
   padding: 0;
   margin: 0;
}
.left_side{
   height: 80vh;
   width: 250px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}
.left_side .functions{
   width: 250px;
   height: fit-content;
   display: flex;
   margin-left: 15px;
   margin-right: 5px;
   padding-right:1 px;
   left: 15px;
}
.left_side .number{
   height: fit-content;
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   /* grid-template-columns: repeat(3, 100px); */
   grid-gap: 0px;
}


.right_side{
   height: 80vh;
   width: 20px;
   display: flex;
   margin-left: 6px;
   justify-content: flex-end;
   flex-direction: column;
}

li{
   width: 50px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 28px;
   border-radius: 60px;
}
.left_side .number li.zero{
   width: 150px;
   grid-column: span 2;
}
li:hover{
   opacity: .8;
   transition: ease-in-out all 100ms;
}

.left_side .number li{
   background-color: rgb(22, 22, 22);
margin: 9px;
}


.left_side .functions li{
   margin-right:25px;
   background-color: rgb(42, 42, 42);
}

.right_side .operators li{
   background-color: rgb(255, 172, 29);
}

.autre{
   display: none;
}
}

/* Interface web */
@media(min-width : 380px){
body{
   width: 100%;
   height: 100%;
}
.container{
 
 margin: 5px;
 text-align: center;
 display: inline;
 bottom: 20px;

}

.afficheur{
    text-align: right;
    height: 10%;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    position: absolute;
    top: 5px;
}

.autre{
   width: 60%;
   height: 100%;
   display: inline-block;
    
   left:-30px;
   top:50px ;
   position: absolute;
   flex-wrap: wrap;
   flex-direction: row;
}

.buttons-side{
   width: 30%;
   height:100%;
   top:20%;
   right:127px ; 
   position:absolute;
   float:right;
}

ul{
   list-style: none;
}

.sup_button{
   width:auto;
   height: 100%;
   position:absolute;
   float:right;
  margin: 10px;
  top: 100px;
  left:15px ;

}

li{
   width: 35px;
   height: 30px;
   font-size: 16px;
   border-radius: 15px;
   text-align: center;
   align-items: center;
   justify-content: center;
   margin: 5px;
   display: inline-block;
}

 li{
   background-color: rgb(22, 22, 22);
}

.left_side .number li.zero{
   width: 100px;
   grid-column: span 2;
}

.left_side .functions li{
   background-color: rgb(42, 42, 42);
}
.right_side .operators li{
   background-color: rgb(255, 172, 29);
}
.buttons-side{
   display: flex;

}






.left_side{
   height: 80vh;
   width:150px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}
.left_side .functions{
   width: 190px;
   height:15px;
   margin: 5px;
   display: flex;
   
}
.left_side .number{
   height: fit-content;
   width: 80%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   /* grid-template-columns: repeat(3, 100px); */
   grid-gap: 0px;
}

.right_side{
  
   float: right;
   height: 80vh;
   display: flex;
   justify-content: flex-end;
   flex-direction: column;
}}